.header{
    margin: 20px;
    text-align: right;
}
* a{
    text-decoration: none;
    margin: 10px;
}

.menu{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}


.google_logo{
    text-align: center;
    margin: 20px;
}

.search{
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    max-width: 638px;
}
.btn2{
    text-align: center;
    margin: 30px;
}
button{
    height: 30px;
    background-color: #F8F9FA;
    margin: 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.google_bd{
    text-align: center;
    font-size: 16px;
    color: #6b6b6a;
    height: 180px;
}